# Exclude all by default
*

# Include project-specific files
!.gitignore
!composer.*
!.env.*
!auth.json
!app
!app/**/*
!themes
!themes/**/*
!plugins
!plugins/your-vendor
!plugins/your-vendor/your-plugin
